input {
  background-color: theme("colors.slate.950");
  color: lightgray;
}

button {
  color: lightgray;
}

@media screen and (prefers-color-scheme: light) {
  input {
    background-color: transparent;
    color: black;
  }

  .input-wrapper {
    /* background-color: rgb(243, 243, 243); */
    background-color: transparent;
  }

  button {
    color: black;
    background-color: theme("colors.indigo.200");
  }
}
