@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.slate.900");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  background: theme("colors.sky.800");
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: theme("colors.blue.900");
}

.chat-window {
  max-height: calc(100vh - 106px);
}

a {
  color: theme("colors.sky.500");
}
