@tailwind base;
@tailwind components;
@tailwind utilities;


.kds-heading--1, h1 {
  font-size: var(--kds-font-size-5xl);
  margin: 4.5rem 0 1.5rem;
}

.kds-heading--2, h2 {
  font-size: var(--kds-font-size-4xl);
}

.kds-container {
  max-width: 1440px;
}

#root{
  min-height: 100vh;
}

.return svg{
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

svg {
  display: inline-block;
}
